{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    Nombre de vote total : {{ totalVoted }}
    <br><br>Classement des chats les plus minions :

    <div style="text-align: center" id="main">
        <table>
        {% set score = 1 %}
        {% for cats in result %}
            <tr>
                <td>{{ score }}{% if cats|length > 1 %} (ex-aequo) {% endif %}</td>
            </tr>
            <tr>
                {% for cat in cats %}
                <td>
                    <img src="{{ cat.url }}" style="width: 400px" />
                </td>
                {% endfor %}
                {% set score = score + 1 %}
            </tr>
        {% endfor %}

        </table>
    </div>

    {% block javascripts %}
    {% endblock %}
{% endblock %}
